/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300,700);
@import url(http://fonts.googleapis.com/css?family=Michroma);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
:root {
  --primary-color: rgba(32, 82, 131, 1);
  --secondary-color: rgba(41, 112, 218, 1);
  --tertiary-color: rgba(105, 178, 227, 1);
  --font-family: "Roboto";
  --font-familyText: "Monserrat";
  --transparency-color: #4d4d4d33;
}
body {
  overflow-x: hidden;
}
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(office.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  background-image: url(./img/bgEd1.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(50, 50, 50);
  left: 0;
  top: 0;
  overflow: hidden;
  overflow-x: hidden;
  z-index: -999;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  justify-content: center;
  opacity: 0.9;
}
.link-icon {
  height: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.link-icon:hover {
  scale: 1.1;
  filter: drop-shadow(0px 0px 10px var(--tertiary-color)) !important;
}
.header-logo {
  height: 250px;
}
.header-content {
  font-family: var(--font-family);

  top: 10vh;
}
.btn-contact {
  border: none;
  color: antiquewhite;

  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 40%,
    var(--tertiary-color) 100%
  );
  transition: transform 1s ease;
  font-size: x-large !important;
}
.btn-contact:hover {
  transform: scale(1.1);
}
.icn-wsp {
  animation: heartBeat 12s infinite;
}
.icn-wsp:hover {
  filter: drop-shadow(0px 0px 29px var(--tertiary-color)) !important;
}
main {
  font-family: "Michroma";
}
section {
  padding: 5rem 0;
}
.main_container {
  z-index: 6;
}
#about {
  background-color: var(--primary-color);
}
h2 {
  font-size: 3rem;
}

.stats {
  color: white;

  font-style: oblique;
  font-size: 1rem;
}
.stat {
  width: 9rem;
  height: 9rem;
  font-size: 1.5rem;
}
#services {
  background-color: var(--tertiary-color);
}
.accordion-button {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
  background-color: var(--primary-color);
  border-radius: 0.6rem;
  justify-content: center;
  align-items: center;
}
#customer_experience {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}
.customer_experience-img {
  height: 12rem;
  width: 12rem;
}
.carousel-inner {
  padding-left: 5rem;
  padding-right: 5rem;
}
.carrousell_card {
  background-color: transparent;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact {
  background-color: var(--secondary-color);
}

footer {
  margin-bottom: 0 !important;
  font-size: x-large !important;
}

.nav-item {
  position: relative;
  text-decoration: none; /* Evita la subrayado del enlace por defecto */
}
.nav-item::after {
  content: "";

  width: 0;
  height: 4px;
  background-color: var(--tertiary-color) !important;
  position: absolute;
  bottom: 0;
  left: 50%; /* Cambié 'right' por 'left' para centrar la barra */
  transform: translateX(-50%); /* Centra horizontalmente */
  margin-bottom: 0;
  transition: all 0.5s;
  will-change: width;
}
.nav-item:hover::after {
  width: 100%;
}

#whatsapp-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para asegurarte de que el icono esté por encima de otros elementos */
    transition: all 0.3s ease; /* Agrega una transición suave al movimiento del icono */
}


@media only screen and (max-width: 767px) {
    #whatsapp-icon {
        position: relative; /* Fija la posición del icono en dispositivos móviles */
        top: 10px; /* Ajusta la distancia vertical del icono con respecto a la parte superior de la pantalla */
        right: 50%; /* Coloca el icono a mitad del ancho de la pantalla */
        transform: translateX(50%); /* Centra el icono horizontalmente */
    }
}